body {
    padding-top: 80px;
}

.pad5 {
    padding: 5px;
}

.margin5 {
    margin: 5px;
}

.alert-fill {
    display: block;
    width: 100%;
}

/** change form-control widths */
.form-control-75 {
    width: 75%;
}

/** this overrides bootstraps margin-top:-10px on a lot of elements which allows use to center text in a div row **/
.valign-row-text {
    margin-top: 10px;
}

/** log out button in header **/
#logout {
    margin: 10px auto;
    color: #f7f9f6;
}

.color1 {
    background-color: #2c3e50;
    color: #f7f9f6;
}

.color2 {
    background-color: #ECF0F1;
    color: #000000;
}

.alert-danger-custom {
    color: #b94a48 !important;
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
}

.alert-warning-custom {
    color: #c09853 !important;
    background-color: #fcf8e3 !important;
    border-color: #fbeed5 !important;
}
